* {
    font-family: 'Roboto Mono', monospace;
}

.container {

    margin: auto;
    width: 90vw;
    font-family: 'Roboto Mono', monospace;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

nav button {
    border-radius: 10px;
    border-width: 0px;
    text-decoration: none;
    color: white;
    width: 20%;
    height: 10%;
    display: inline-block;
    padding: 10px 20px;
    background: #FF764E;

}

nav button:hover {
    color: black;

}

nav button:first-child {
    background: #5ED3EB;
    margin: 2%;
    padding: 10px 20px;
}

nav button:last-child {
    background: #FFCD69;
    margin: 2%;
}

main div {
    margin: 2% 0;
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: center;
    padding: 2%;

}

main div div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-family: 'Chelsea Market', cursive;
    font-size: 2rem;
}

.main_text {
    display: flex;
    flex-direction: column;
    background-color: #DDB9A3;
    vertical-align: middle;
    text-align: center;
    width: 90%;
    padding: 3% 5%;
}

.round-image {
    height: 25vh;
    width: 25vh;
    margin: auto;
    border-radius: 100%;
}


#ozellikler {
    margin: 5% auto;
    width: 30vw;
}

#ozellikler img {
    width: 30%;
    height: 30%;
    margin: 15% 30%;
}

footer div {
    background: url("./assets/footer_img.jpg");
    height: 200px;
    width: 100%;
    background-size: cover;
}